exportPattern("^[^\\.]")

import("mathjaxr")

importFrom(emulator,quad.3form,quad.tform)
importFrom("onion","diag","getM","harmonize_on","harmonize_oo","i","j","k","ht","onionmat","as.quaternion","cprod","as.octonion","herm_onion_mat","is.onionmat","is.quaternion","is.octonion")

importFrom("methods", "as", "is", "new")
importFrom("stats", "rnorm")
importFrom("utils", "capture.output")

importClassesFrom(Matrix,index)
